@layer base {
  :root {
    --background: #0b1120;
    --foreground: #e3e7f0;

    --card: #695c90;
    --card-foreground: #e3e7f0;

    --border: #202937;
    --input: #202937;

    --primary: #302148;
    --primary-foreground: #fafafa;
    --secondary: #a252c8;
    --secondary-foreground: #fafafa;
    --radius: 0.5rem;
  }
}
